.headshot{
    height:auto;
    width: 25rem;
    max-width: 100%;
    position: relative;
    margin-top: 2rem;
    margin-right: 2rem;
}

.home-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: start;
    height: auto;
    width: 55vw;
    min-width: 55vw;
    position: relative;
    z-index: 1;
}

.home-layout{
    margin-left: 20vw;
    margin-right: 20vw;
    width: 80vw;
    text-align: start;
}

.layout-colorful{
    display: flex;
    flex-direction: row;
    background-color: #4ABDAC;
    width: 100vw;
    height: auto;
    position: relative;
    right: 20vw;
    justify-content: left;
    align-items: start;
    align-content: start;
    padding-bottom: 2rem;
}

.layout-colorful-2{
    display: flex;
    flex-direction: row;
    background-color: #ECECEC;
    width: 100vw;
    height: auto;
    position: relative;
    right: 20vw;
    justify-content: left;
    align-items: start;
    align-content: start;
    padding-bottom: 2rem;
}

.introduction{
    width: 80VW;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}

.vertical-spacer{
    height: auto;
    width: 8rem;
}

.text-field{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    justify-content: left;
    max-width: 100%;
}

.text-field-2{
    position: relative;
    margin: 0 20vw;
    justify-content: left;
    padding-right: 2rem;
    padding-top: 4rem;
}

.text-h1{
    font-weight: bold;
    font-size:4rem;
    position: relative;
    color:#242424;
    display: flex;
    justify-content: left;
    align-items: start;
    max-width: 100%;
}

.text-h2{
    font-weight: bold;
    font-size:2rem;
    position: relative;
    color:#242424;
    display: flex;
    justify-content: left;
    align-items: start;
}

.text-h2-light{
    font-weight: bold;
    font-size:2rem;
    position: relative;
    color:#FFF;
    display: flex;
    justify-content: left;
    align-items: start;
}

.text-h3{
    font-size:1.5rem;
    position: relative;
    color:#242424;
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: start;
}

.text-h4{
    font-size:16px;
    position: relative;
    color:#242424;
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: start;
    max-width: 40rem;
    padding-right: 2rem;
}

.text-h4-light{
    margin-top: 2rem;
    margin-bottom: 2rem;
    line-height: 1.5rem;
    font-size:16px;
    position: relative;
    color:#FFF;
    display: flex;
    justify-content: left;
    text-align: left;
    align-items: start;
    max-width: 40rem;
}

.text-h5-color{
    font-weight: bold;
    font-size:1.25rem;
    position: relative;
    margin-top: 1rem;
    margin-bottom: .5rem;
    color:#4ABDAC;
    display: flex;
    justify-content: left;
    align-items: start;
    width: 15vw;
}

.button {
    #text-decoration: none;
    font-size:1.5rem;
    position: relative;
    top: 1rem;
    color:#fff;
    display: inline-block;
    justify-content: left;
    padding: .5rem 2rem .5rem 2rem;
    background-color: #4ABDAC;
}

.button-2 {
    #text-decoration: none;
    font-size:1.5rem;
    position: relative;
    left: 0;
    top: 1rem;
    color:#242424;
    display: inline-block;
    justify-content: left;
    padding: .5rem 2rem .5rem 2rem;
    background-color: #FFF;
}

.child{
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.skills-section{
    margin-top: 100px;
    margin-bottom: 50px;
    color: #242424;
}

.hardware-skills-section{
    position: relative;
    margin: 0 20vw;
    justify-content: left;
    padding-right: 2rem;
    padding-top: 4rem;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    outline: none;
}
a:focus {
    outline: none;
}

@media (max-width: 992px) {
    .text-h1 {
        font-size: 3rem !important;
    }
    .text-h2 {
        font-size: 2rem !important;
    }
    .text-h3 {
        font-size: 1.25rem !important;
    }
    .text-h4 {
        font-size: .8rem !important;
    }
    .text-h5-color {
        font-size: 1rem !important;
    }
    .button {
        font-size: 90% !important;
    }
    .button-2 {
        font-size: 90% !important;
    }
    .home-layout{
        margin-left: 10vw;
    }
    .layout-colorful{
        right: 10vw;
    }
    .headshot{
        margin-right: 4rem;
    }
    .text-field-2{
        margin: 0 10vw;
    }

}