.footer-link-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    margin-left: 20vw;
    max-width: 1200px;
    height: 100%;
}
.footer-link-items{
    position: relative;
    margin: 2rem 0rem;
    display: flex;
    flex-direction: row;
    width: 160px;
    box-sizing: border-box;
    color: #fff;
}

.linked-in{
    margin: 1rem 1rem;
    color: #242424;
}

.github{
    margin: 1rem 1rem;
    color: #242424;
}